<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>quart.ServletQuart</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletEnvia</servlet-name>
        <servlet-class>Servlets.ServletEnvia</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>ServletRecibe</servlet-name>
        <servlet-class>Servlets.ServletRecibe</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>servletHorarios</servlet-name>
        <servlet-class>Servlets.servletHorarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEscuelas</servlet-name>
        <servlet-class>Servlets.ServletEscuelas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrefichaPDF</servlet-name>
        <servlet-class>Servlets.PrefichaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletParamSeq</servlet-name>
        <servlet-class>Servlets.servletParamSeq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSequence</servlet-name>
        <servlet-class>Servlets.servletSequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNvaEscuelaSelects</servlet-name>
        <servlet-class>Servlets.ServletNvaEscuelaSelects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ClaveCCT</servlet-name>
        <servlet-class>Servlets.Servlet_ClaveCCT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEstados</servlet-name>
        <servlet-class>Servlets.servletEstados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLimpiarBeansSeguimiento</servlet-name>
        <servlet-class>Servlets.servletLimpiarBeansSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSeguimientoDelAlumno</servlet-name>
        <servlet-class>Servlets.servletSeguimientoDelAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletConfCon</servlet-name>
        <servlet-class>Servlets.servletConfCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizarDP</servlet-name>
        <servlet-class>Servlets.servletActualizarDP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNoCorreos</servlet-name>
        <servlet-class>Servlets.ServletNoCorreos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizarListas</servlet-name>
        <servlet-class>Servlets.servletActualizarListas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizarListasFijas</servlet-name>
        <servlet-class>Servlets.servletActualizarListasFijas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizarSelects</servlet-name>
        <servlet-class>Servlets.servletActualizarSelects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCambio</servlet-name>
        <servlet-class>Servlets.servletCambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCambioDDD</servlet-name>
        <servlet-class>Servlets.servletCambioDDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCambioSE</servlet-name>
        <servlet-class>Servlets.servletCambioSE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCambiosCE</servlet-name>
        <servlet-class>Servlets.servletCambiosCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCarrerasSeguimiento</servlet-name>
        <servlet-class>Servlets.servletCarrerasSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCorreoCENEVAL</servlet-name>
        <servlet-class>Servlets.servletCorreoCENEVAL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCorreoPagoProcesad</servlet-name>
        <servlet-class>Servlets.servletCorreoPagoProcesad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDatosPersonales</servlet-name>
        <servlet-class>Servlets.servletDatosPersonales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDecidirCarga</servlet-name>
        <servlet-class>Servlets.servletDecidirCarga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDomicilioSocioeconomicos</servlet-name>
        <servlet-class>Servlets.servletDomicilioSocioeconomicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEmergencia</servlet-name>
        <servlet-class>Servlets.servletEmergencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEnviarCorreo</servlet-name>
        <servlet-class>Servlets.servletEnviarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGuardarCE</servlet-name>
        <servlet-class>Servlets.servletGuardarCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGuardarDP</servlet-name>
        <servlet-class>Servlets.servletGuardarDP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGuardarSE</servlet-name>
        <servlet-class>Servlets.servletGuardarSE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletInicio</servlet-name>
        <servlet-class>Servlets.servletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLiberacionDePago</servlet-name>
        <servlet-class>Servlets.servletLiberacionDePago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLimpiarBeanReferencia</servlet-name>
        <servlet-class>Servlets.servletLimpiarBeanReferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLimpiarBeans</servlet-name>
        <servlet-class>Servlets.servletLimpiarBeans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPeriodo</servlet-name>
        <servlet-class>Servlets.servletPeriodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPorFicha</servlet-name>
        <servlet-class>Servlets.servletSeguimientoDelAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReportes</servlet-name>
        <servlet-class>Servlets.servletReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistrarAltaCENEVAL</servlet-name>
        <servlet-class>Servlets.servletRegistrarAltaCENEVAL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFCENEVAL</servlet-name>
        <servlet-class>Servlets.servletFCENEVAL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSelects</servlet-name>
        <servlet-class>Servlets.servletSelects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sevletCambioEP</servlet-name>
        <servlet-class>Servlets.sevletCambioEP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecibe</servlet-name>
        <servlet-class>Servlets.ServletRecibe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCorreosMasivos</servlet-name>
        <servlet-class>Servlets.servletCorreosMasivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletImage</servlet-name>
        <servlet-class>quart.servletImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReenvioPref</servlet-name>
        <servlet-class>Servlets.servletReenvioPref</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletNotificaciones</servlet-name>
        <servlet-class>Servlets.servletNotificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMailsMasivos</servlet-name>
        <servlet-class>Servlets.servletMailsMasivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReenvioLiga</servlet-name>
        <servlet-class>Servlets.servletReenvioLiga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDecrypt</servlet-name>
        <servlet-class>Servlets.servletDecrypt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEnvia</servlet-name>
        <url-pattern>/Envia.jsp</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>ServletRecibe</servlet-name>
        <url-pattern>/RecibeMatricula.jsp</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>servletLimpiarBeansSeguimiento</servlet-name>
        <url-pattern>/servletLimpiarBeansSeguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizarDP</servlet-name>
        <url-pattern>/servletActualizarDP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizarListas</servlet-name>
        <url-pattern>/servletActualizarListas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizarListasFijas</servlet-name>
        <url-pattern>/servletActualizarListasFijas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizarSelects</servlet-name>
        <url-pattern>/servletActualizarSelects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCambio</servlet-name>
        <url-pattern>/servletCambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCambioDDD</servlet-name>
        <url-pattern>/servletCambioDDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCambioSE</servlet-name>
        <url-pattern>/servletCambioSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletHorarios</servlet-name>
        <url-pattern>/servletHorarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCambiosCE</servlet-name>
        <url-pattern>/servletCambiosCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCarrerasSeguimiento</servlet-name>
        <url-pattern>/servletCarrerasSeguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCorreoCENEVAL</servlet-name>
        <url-pattern>/servletCorreoCENEVAL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCorreoPagoProcesad</servlet-name>
        <url-pattern>/servletCorreoPagoProcesad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDatosPersonales</servlet-name>
        <url-pattern>/servletDatosPersonales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDecidirCarga</servlet-name>
        <url-pattern>/servletDecidirCarga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDomicilioSocioeconomicos</servlet-name>
        <url-pattern>/servletDomicilioSocioeconomicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEmergencia</servlet-name>
        <url-pattern>/servletEmergencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEnviarCorreo</servlet-name>
        <url-pattern>/servletEnviarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGuardarCE</servlet-name>
        <url-pattern>/servletGuardarCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGuardarDP</servlet-name>
        <url-pattern>/servletGuardarDP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGuardarSE</servlet-name>
        <url-pattern>/servletGuardarSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletInicio</servlet-name>
        <url-pattern>/servletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletConfCon</servlet-name>
        <url-pattern>/servletConfCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLiberacionDePago</servlet-name>
        <url-pattern>/servletLiberacionDePago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLimpiarBeanReferencia</servlet-name>
        <url-pattern>/servletLimpiarBeanReferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLimpiarBeans</servlet-name>
        <url-pattern>/servletLimpiarBeans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPeriodo</servlet-name>
        <url-pattern>/servletPeriodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPorFicha</servlet-name>
        <url-pattern>/servletPorFicha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRegistrarAltaCENEVAL</servlet-name>
        <url-pattern>/servletRegistrarAltaCENEVAL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFCENEVAL</servlet-name>
        <url-pattern>/servletFCENEVAL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSelects</servlet-name>
        <url-pattern>/servletSelects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSeguimientoDelAlumno</servlet-name>
        <url-pattern>/servletSeguimientoDelAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sevletCambioEP</servlet-name>
        <url-pattern>/sevletCambioEP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletParamSeq</servlet-name>
        <url-pattern>/servletParamSeq</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>inicioSesion_administrador.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ServletRecibe</servlet-name>
        <url-pattern>/RecibeMatricula.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNoCorreos</servlet-name>
        <url-pattern>/ServletNoCorreos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReportes</servlet-name>
        <url-pattern>/reportes.pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEstados</servlet-name>
        <url-pattern>/servletEstados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ClaveCCT</servlet-name>
        <url-pattern>/Servlet_ClaveCCT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNvaEscuelaSelects</servlet-name>
        <url-pattern>/ServletNvaEscuelaSelects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSequence</servlet-name>
        <url-pattern>/servletSequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrefichaPDF</servlet-name>
        <url-pattern>/PrefichaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEscuelas</servlet-name>
        <url-pattern>/ServletEscuelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCorreosMasivos</servlet-name>
        <url-pattern>/servletCorreosMasivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletImage</servlet-name>
        <url-pattern>/servletImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReenvioPref</servlet-name>
        <url-pattern>/servletReenvioPref</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletNotificaciones</servlet-name>
        <url-pattern>/servletNotificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMailsMasivos</servlet-name>
        <url-pattern>/servletMailsMasivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReenvioLiga</servlet-name>
        <url-pattern>/servletReenvioLiga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDecrypt</servlet-name>
        <url-pattern>/servletDecrypt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
